html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.manage-btn {
    padding: 4px 12px;
    border-radius: 20px; 
    font-size: 14px;
    transition: all 0.3s;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 2px;
}

.btn-edit {
    color: #007bff;
    border-color: #007bff;
}

    .btn-edit:hover {
        background: #007bff;
        color: white;
    }

.btn-detail {
    color: #17a2b8;
    border-color: #17a2b8;
}

    .btn-detail:hover {
        background: #17a2b8;
        color: white;
    }

.btn-delete {
    color: #dc3545;
    border-color: #dc3545;
}

    .btn-delete:hover {
        background: #dc3545;
        color: white;
    }